<h1>This page contains all blogs!</h1>

<% blogs.forEach(function(blog){ %>
    <h2><%= blog.title %></h2>
    <img src="<%= blog.image %>">
    <span><%= blog.created %></span>
    <p><%= blog.body %></p>
<% }); %>